apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: argocd
data:
  extension.config: |
    extensions:
    - name: booking
      backend:
        services:
        - url: http://argocd-booking-service.argocd.svc.cluster.local:8080
